.Actions {

	display: grid;
	grid-template-columns: 1fr;


	.Action {

		display: flex;

		.icon {
			margin-right: 0.5rem;
		}

		.description {
			display: flex;
			justify-content: center;
			align-items: center;

		}

		cursor: pointer;

		.ActionDescription {
			text-transform: uppercase;
			font-size: 1rem;

		}
	}

}
